<fieldset class="box tabular">
    <legend>
    <% if @mode == 'update' then %>
        Modificacion
    <% else %>
        Carga 
    <% end %>
    de vacaciones para el usuario : <%= @user.firstname %> <%= @user.lastname %>
    </legend>
    
    <%= form_tag(:controller => 'holidays' ,:action => @mode , :method => 'post') do %>
        <p>
            <%= label_tag(:fdesde, 'Fecha desde : ') %>
            <%= text_field "holidays_users", "date_from" %>
            <%= calendar_for('holidays_users_date_from') %>
        </p>
        <p>
            <%= label_tag(:fhasta, 'Fecha hasta : ') %>  
            <%= text_field "holidays_users", "date_to" %>
            <%= calendar_for('holidays_users_date_to') %>
        </p>
        <%= hidden_field_tag(:id_user, @id_user) %>
        <%= hidden_field_tag(:id_holidays, @id_holidays) %>
        <hr/>
        <%= submit_tag "Guardar" %>
    <% end %>
</fieldset>

<% if @mode == 'update' then %>
    <script>
        $('#holidays_users_date_from').val('<%= @holidays_user.date_from.to_s(:db) %>');
        $('#holidays_users_date_to').val('<%= @holidays_user.date_to.to_s(:db)%>');
    </script>
    <% else %>
    <%  content_for :sidebar do %>
        <h4>Vacaciones del usuario : <%= @user.firstname %> <%= @user.lastname %>.</h4>
        <% if !@holidays_user.empty? then %>
            <% @holidays_user.each do |h| %>
                <p>
                <a class="icon icon-edit" href="/holidays/edit/<%= @id_user %>/<%= h.id %>"></a>
                <a class="icon icon-del" href="/holidays/delete/<%= h.id %>"></a>
                    <%=h.date_from.strftime("%d/%m/%Y") %> al <%=h.date_to.strftime("%d/%m/%Y") %> 
                    ( <%= pluralize(h.days, 'día')%> )
                </p>
            <% end %>
        <% end %>
        
        <% if !@holidays_add.empty? then %>
        <h4>Vacaciones añadidas.</h4>
            <% @holidays_add.each do |ha| %>
                <p>
                <a class="icon icon-edit" href="/holidays_add/edit/<%= ha.id %>/<%= @id_user %>"></a>
                <a class="icon icon-del" href="/holidays_add/delete/<%= ha.id %>/<%= @id_user %>"></a>
                <%= pluralize(ha.days, 'día')%> , por <%= ha.comment %>
                </p>
            <% end %>
        <% end %>
        
    <% end %>
<% end %>