    <fieldset class="box tabular">
      <legend>
        Carga de vacaciones para el usuario : <%= @user.firstname %> <%= @user.lastname %>
      </legend>
      <%= form_tag(:controller => 'holidays' ,:action => 'create' , :method => 'post') do %>
        <p>
            <%= label_tag(:fdesde, 'Fecha desde : ') %>
            <%= text_field "holidays_users", "date_from" %>
            <%= calendar_for('holidays_users_date_from') %>
        </p>
        <p>
            <%= label_tag(:fhasta, 'Fecha hasta : ') %>  
            <%= text_field "holidays_users", "date_to" %>
            <%= calendar_for('holidays_users_date_to') %>
        </p>
        <%= hidden_field_tag(:id_user, @id_user) %>
        <hr/>
        <%= submit_tag "Guardar" %>
      <% end %>
    </fieldset>

    <%  content_for :sidebar do %>
            <h4>Vacaciones del usuario : <%= @user.firstname %> <%= @user.lastname %></h4>
            <% @holidays_user.each do |h| %>
                <p>
                <a class="icon icon-edit" href="/holidays/edit/<%= @id_user %>/<%= h.id %>"></a>
                <a class="icon icon-del" href="/holidays/delete/<%= h.id %>"></a>
                <%=h.date_from.strftime("%d/%m/%Y") %> al <%=h.date_to.strftime("%d/%m/%Y") %> 
                ( <%= pluralize(h.days, 'día')%> )
                </p>
    <%  end %>
<% end %>